<h1 class = "text-center mt-4"> Alpha Bloggers</h1>
<%#  this has the page pagination which will have pages due to how many users there are %>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div> 

<%= render 'user' %>

<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div> 