<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small id="copyright">Copyright &copy; <a class= "text-white", href="http://localhost:3000">link text</a></small>
      </div>
</footer>