<footer id="sticky-footer" class="py-4 bg-dark text-white-50 bottom" >
      <div class="container text-center" >
        <small> Copyright &copy; <%= link_to "articles_path", articles_path, class: "text-white" %> </small>
      </div>
</footer>
